/* MODERN CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
:root {
  --90hsl: hsl(0, 0%, 90%);
  --10hsl: hsl(0, 0%, 10%);
  --70hsl: hsl(0, 0%, 70%);
  --20hsl: hsl(0, 0%, 20%);
  --bggradient: linear-gradient(90deg, red, blue, red);
}
ul,
h1 {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
  gap: 3rem;
  margin: 0;
  background-color: var(--90hsl);
  color: var(--10hsl);
  font-size: clamp(1rem, 1vw, 2rem);
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-align: center;
}
header,
main,
footer,
label,
input {
  width: 100%;
}
footer,
header {
  background-color: var(--70hsl);
  padding: 1rem 0;
}
.c-card-container {
  width: min(100%, 23.4375rem);
  margin: 0 auto;
  padding: 0 1rem;
}
header .c-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo {
  width: 5rem;
  margin: auto;
}
nav ul {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  list-style: none;
  /* background-color: red;
  position: sticky;
  top: 100px; */
}
.nav-links {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--20hsl);
  cursor: pointer;
  font-weight: 600;
}
.hover-links:hover {
  background-image: var(--bggradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main .c-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hgroup__header,
.head-group h1 {
  text-transform: uppercase;
  text-align: center;
  background-image: var(--bggradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.hgroup__introduction {
  margin-top: 1rem;
  word-wrap: break-word;
}
.get-started {
  text-decoration: none;
  display: block;
  margin: 1rem auto;
  background-color: blue;
  color: hsl(0, 0%, 90%);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.get-started:hover {
  background-image: var(--bggradient);
}
.hero-image {
  max-width: 100%;
  border-radius: 8px;
}
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-style: italic;
}
.service {
  text-decoration: underline;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer-1 .d-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer__img-logo-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer-logo {
  width: 3rem;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.links a {
  color: var(--20hsl);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}
.social-media {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.social-media a {
  background-color: var(--70hsl);
  padding: 0.5rem;
  border-radius: 50%;
}
.social-media a:hover {
  background-color: var(--90hsl);
}
.footer-attribution {
  margin: 0;
  font-weight: 800;
}
@media (min-width: 48rem) {
  .c-card-container {
    width: min(100%, 46rem);
  }
  .first-section {
    flex-direction: row;
    gap: 1.5rem;
  }
  .hgroup__header,
  .hgroup__introduction {
    text-align: left;
  }
  .get-started {
    margin: 1rem 0 auto 0;
  }
}
@media (min-width: 64rem) {
  .c-card-container {
    width: min(100%, 75rem);
  }
  header {
    position: sticky;
    top: 0;
  }
  header .c-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 2.5rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .first-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;
  }
  .second-section {
    margin-top: 2rem;
  }
  .div-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer-1 {
    gap: 2rem;
  }
  .footer-1 .d-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .footer__img-logo-links {
    flex-direction: row;
    gap: 5rem;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/* styles for register.html */

.c-class-container-2 {
  width: min(100%, 23.4375rem);
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid rgba(64, 20, 184, 0.3);
  border-radius: 16px;
  background-color: rgba(74, 67, 182, 0.1);
  box-shadow: 0 4px 30px rgba(58, 62, 119, 0.5);
  /* backdrop-filter: saturate(100); */
  font-size: clamp(1rem, 0.7vw, 1.3rem);
}

.head-group h1 {
  font-size: clamp(1.5rem, 1vw, 2rem);
}
.head-group p {
  font-weight: 500;
}
form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
fieldset {
  border: 2px solid blue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}
legend {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 3px;
}
.span-required {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
}
.required {
  color: red;
  font-size: 2rem;
}
.label-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}
.input-field,
select,
textarea,
input[type="submit"] {
  border: none;
  border-radius: 8px;
  height: 3rem;
  padding: 10px;
  font-size: 1rem;
  display: block;
  width: 100%;
  border: none;
}
label,
.form-p {
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.form-p {
  margin: 0;
}
.label-radio-input {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  display: block;
  border: none;
  width: auto;
  cursor: pointer;
}
.label-radio label {
  width: auto;
}
.label-radio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
label[for="goal"] {
  margin-top: 1rem;
}
input[type="submit"] {
  margin-top: 2rem;
  background-color: blue;
  color: var(--90hsl);
  cursor: pointer;
  width: min(100%, 20rem);
}
input[type="submit"]:hover {
  background-image: var(--bggradient);
}
@media (min-width: 48rem) {
  .c-class-container-2 {
    width: min(100%, 46rem);
  }
}
@media (min-width: 64rem) {
  .c-class-container-2 {
    width: min(100%, 60rem);
  }
  legend {
    text-align: left;
  }
}

/* styles for carousel.html */

.c-card-container-3 {
  width: min(100%, 23.4375rem);
  margin: 0 auto;
  padding: 0 1rem;
  font-size: clamp(1rem, 0.7vw, 1.3rem);
}
.carousel-heading {
  margin: 0;
}
figure {
  border: 2px solid rgba(64, 20, 184, 0.3);
  border-radius: 16px;
  background-color: rgba(74, 67, 182, 0.1);
  box-shadow: 0 4px 30px rgba(58, 62, 119, 0.5);
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.btn-ch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 2px solid blue;
  box-shadow: 4px 4px 3px rgba(24, 36, 201, 0.5);
}
.btn-ch:hover {
  border: none;
}
.slide-right {
  position: absolute;
  right: 50%;
  transform: translate(580%, -50%);
}
.slide-left {
  position: absolute;
  left: 50%;
  transform: translate(-580%, -50%);
}
.carousel-image {
  border-radius: 16px;
  /* aspect-ratio: 4/3; */
  object-fit: cover;
}
.carousel-image:hover {
  box-shadow: 0 4px 30px rgba(58, 62, 119, 0.9);
}
.fig-div p {
  margin: 0;
}
.fig-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 1.5rem;
}
blockquote {
  width: 100%;
  font-weight: 600;
}
figcaption {
  width: 100%;
}
figcaption p:first-child {
  font-weight: 450;
}
figcaption p:last-child {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
.radio-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
  cursor: pointer;
}
.btn-r {
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
}
.btn-r:hover {
  transform: scale(1.5);
}
.btn-r:hover .radio-icon-navigation,
.btn-r:focus .radio-icon-navigation {
  background-image: var(--bggradient);
  border-radius: 50%;
  width: 50%;
}
@media (min-width: 64rem) {
  .c-card-container-3 {
    width: min(100%, 60rem);
  }
  figure {
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    margin-top: 4rem;
  }
  .image-div {
    width: 90%;
    display: grid;
    place-self: center;
  }
  .carousel-image {
    width: 400px;
    aspect-ratio: 16/9;
    object-fit: cover;
    transform: scale(1, 1.5);
    margin-left: 1rem;
  }
  .radio-icons {
    margin-top: 5rem;
  }
  .slide-right {
    right: 50%;
    transform: translate(480px, 100px);
  }
  .slide-left {
    left: 50%;
    transform: translate(-480px, 100px);
  }
}
